#messages {
  font-family: monospace;
  width: 100%;
}

#messages thead tr {
  background-color: lightgrey;
}

#messages, #messages th, #messages td {
  border-collapse: collapse;
  border: 1px solid black;
}

#messages tr.source-client {
  background-color: lightgreen;
}

#messages td {
  padding: 5px;
}

#command-input {
  font-family: monospace;
}

#command-input-container {
  margin-bottom: 300px;
  display: inline-block;
}

.command-choice {
  font-family: monospace;
}

.command-choice.selected {
  background-color: lightgrey;
}
