.statement-log {
  width: 100%;
}

.statement-log > thead > tr > th {
  background-color: lightgrey;
}

.statement-log, .statement-log > tbody > tr > td, .statement-log > thead > tr > th {
  border: 1px solid black;
  border-collapse: collapse;
}

.statement-log > tbody > tr > td, .statement-log > thead > tr > th {
  padding: 5px;
  font-family: monospace;
}

.message-error {
  background-color: pink;
}

.message-ack {
  background-color: lightgreen;
}

.message-table_update, .message-record_update {
  background-color: papayawhip;
}

.message.initial_result, .message.table_update, .message.record_update {
}

.statement-log-message-type, .statement-log-timestamp {
  vertical-align: top;
}